In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
import requests
from pprint import pprint
from pandas import json_normalize
import json
import gmaps
from api_key import gkey
from api_key import okey

In [9]:
newindex= pd.read_csv(("incomeschooldata.csv"))
newindexdf=pd.DataFrame(newindex)

In [10]:
cities=newindexdf['City']
cities1=cities.reset_index()
cities2=cities1.City

In [11]:
#option1
url = "http://api.openweathermap.org/data/2.5/weather?"
lat=[]
lng=[]
units="metric"
name1=[]

#Loodk for city in cities data frame in openweathermap and create new dataframe
# Build query URL

for city in cities2:
    query_url = url + "appid=" + okey + "&q=" + city +"&units="+ units
    response = requests.get(query_url).json()
    try:
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        name1.append(response['name'])
        
    except KeyError:
        print("city not found")

city not found
city not found
city not found

In [12]:
city_data1=pd.DataFrame({"City": name1,"lat": lat,"long": lng})
city_data1
newmergedata=pd.merge(newindexdf,city_data1, on="City")
# county_df = combineddata.sort_values(
#     ["County"], ascending=True)
# county_df.head(20)

top20= newmergedata.sort_values(['RankStatewidePercentage'], ascending=False).head(20)
top20

,County,Unnamed: 0,City,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State_x,Rank,RankOf,RankStatewidePercentage,Zip Code,State_y,2016,2017,2018,lat,long
1262,Gwinnett,17,Buford,Buford City,1,1,0,2,4,GA,2.0,196.0,98.98,30518,GA,38629,39738,41458,34.12,-84.00
2088,Shelby,294,Germantown,Germantown,1,1,0,3,5,TN,2.0,140.0,98.57,38138,AL,50650,51852,54369,39.17,-77.27
2087,Shelby,294,Germantown,Germantown,1,1,0,3,5,TN,2.0,140.0,98.57,38138,AL,50650,51852,54369,39.17,-77.27
2086,Shelby,294,Germantown,Germantown,1,1,0,3,5,TN,2.0,140.0,98.57,38138,TN,46015,47338,49465,39.17,-77.27
2085,Shelby,294,Germantown,Germantown,1,1,0,3,5,TN,2.0,140.0,98.57,38138,TN,46015,47338,49465,39.17,-77.27
1725,Leon,221,Tallahassee,Fsu Lab School,0,0,2,1,3,FL,1.0,67.0,98.51,32311,FL,41273,42380,44482,30.44,-84.28
1724,Leon,221,Tallahassee,Fsu Lab School,0,0,2,1,3,FL,1.0,67.0,98.51,32311,FL,41273,42380,44482,30.44,-84.28
1282,Haralson,14,Bremen,Bremen City,1,1,0,2,4,GA,3.0,196.0,98.47,30110,GA,33941,35121,36508,53.08,8.81
740,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,GA,31736,32419,33970,36.03,-115.24
739,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,GA,31736,32419,33970,36.03,-115.24
738,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,GA,31736,32419,33970,36.03,-115.24
736,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,MS,34660,35268,36431,36.03,-115.24
735,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,MS,34660,35268,36431,36.03,-115.24
734,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,AL,34436,34777,36361,36.03,-115.24
733,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,AL,34436,34777,36361,36.03,-115.24
732,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,AL,34436,34777,36361,36.03,-115.24
737,Clarke,133,Enterprise,Enterprise School District,1,1,0,1,3,MS,3.0,129.0,97.67,39330,MS,34660,35268,36431,36.03,-115.24
2092,Shelby,277,Collierville,Collierville,1,2,0,6,9,TN,4.0,140.0,97.14,38017,TN,46015,47338,49465,35.04,-89.66
2091,Shelby,277,Collierville,Collierville,1,2,0,6,9,TN,4.0,140.0,97.14,38017,TN,46015,47338,49465,35.04,-89.66
2090,Shelby,277,Collierville,Collierville,1,2,0,6,9,TN,4.0,140.0,97.14,38017,AL,50650,51852,54369,35.04,-89.66

In [13]:
location2 = newmergedata[["lat", "long"]]
Income = newmergedata["2018"]

fig1 = gmaps.figure()
Income_layer = gmaps.heatmap_layer(location2, weights= Income) 
                                   #dissipating=False, max_intensity=100000, point_radius=1)
#Add layer
fig1.add_layer(Income_layer)
# Display figure
fig1

Figure(layout=FigureLayout(height='420px'))

In [14]:
newzipfile = pd.read_csv("ziplatlong.csv")
newzipfile1 = pd.DataFrame(newzipfile)
newmergedata5=pd.merge(newindexdf, newzipfile1, on="Zip Code")
newmergedata5

,County,Unnamed: 0,City,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State_x,Rank,RankOf,RankStatewidePercentage,Zip Code,State_y,2016,2017,2018,Latitude,Longitude
0,Abbeville,149,Abbeville,Abbeville 60,3,1,0,5,9,SC,6.0,82.0,92.68,29620,SC,31893,32937,34108,34.189812,-82.41245
1,Aiken,150,Aiken,Aiken 01,10,12,0,21,43,SC,34.0,82.0,58.54,29803,SC,39387,40893,42511,33.486049,-81.70946
2,Alachua,199,Gainesville,Alachua,15,10,6,33,64,FL,40.0,67.0,40.30,32601,FL,40608,42455,44390,29.653195,-82.32440
3,Alamance,300,Burlington,Alamance-Burlington Schools,8,7,1,20,36,NC,162.0,242.0,33.06,27217,NC,37317,38141,39342,36.132737,-79.41135
4,Alcorn,127,Corinth,Corinth School District,1,1,0,1,3,MS,61.0,129.0,52.71,38834,MS,33076,34364,36003,34.928325,-88.52856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,Washington,140,Greenville,Greenville Public Schools,2,2,0,8,12,MS,109.0,129.0,15.50,38701,LA,31647,32210,33480,33.380388,-91.05187
569,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,GA,37483,38339,39472,36.326001,-80.86182
570,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,NC,34008,35681,36576,36.326001,-80.86182
571,Williamson,293,Franklin,Franklin SSD,0,3,0,5,8,TN,7.0,140.0,95.00,37064,TN,92654,91001,94872,35.893823,-86.89919
572,Yalobusha,123,Coffeeville,Coffeeville School District,1,0,0,1,2,MS,93.0,129.0,27.91,38922,MS,34366,35020,36729,33.936248,-89.64228

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>County</dt><dd>{County}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>State</dt><dd>{State_x}</dd>
<dt>RankPercent</dt><dd>{RankStatewidePercentage}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
top20= newmergedata5.sort_values(['RankStatewidePercentage'], ascending=False).head(20)
Rank_info = [info_box_template.format(**row) for index, row in top20.iterrows()]
location5=top20[["Latitude", "Longitude"]]

In [17]:
#option2
# top20= newmergedata5.sort_values(['RankStatewidePercentage'], ascending=False).head(20)
# location5=top20[["Latitude", "Longitude"]]
rankst=top20['RankStatewidePercentage'].tolist()
location4 = newmergedata5[["Latitude", "Longitude"]]
Ranking = newmergedata5["RankStatewidePercentage"]
location3 = newmergedata5[["Latitude", "Longitude"]]
Income1 = newmergedata5["2018"]

fig2 = gmaps.figure()
Income_layer1 = gmaps.heatmap_layer(location3, weights= Income1) 
                                   #dissipating=False, max_intensity=100000, point_radius=1)
#Add layer
rank_layer2 = gmaps.marker_layer(location5, info_box_content= Rank_info)
fig2.add_layer(rank_layer2)
fig2.add_layer(Income_layer1)
fig2

Figure(layout=FigureLayout(height='420px'))

In [18]:
location3 = newmergedata5[["Latitude", "Longitude"]]
Income1 = newmergedata5["2018"]

fig2 = gmaps.figure()
Income_layer1 = gmaps.heatmap_layer(location3, weights= Income1) 
                                   #dissipating=False, max_intensity=100000, point_radius=1)
#Add layer
fig2.add_layer(Income_layer1)
# Display figure
fig2

Figure(layout=FigureLayout(height='420px'))