In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import time
import requests
from pprint import pprint
from pandas import json_normalize
import json
import gmaps
from api_key import gkey
from api_key import okey

In [14]:
newindex= pd.read_csv(("incomeschooldata.csv"))
newindexdf=pd.DataFrame(newindex)

In [15]:
cities=newindexdf['City']
cities1=cities.reset_index()
cities2=cities1.City

In [16]:
#option1
url = "http://api.openweathermap.org/data/2.5/weather?"
lat=[]
lng=[]
units="metric"
name1=[]

#Loodk for city in cities data frame in openweathermap and create new dataframe
# Build query URL

for city in cities2:
    query_url = url + "appid=" + okey + "&q=" + city +"&units="+ units
    response = requests.get(query_url).json()
    try:
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        name1.append(response['name'])
        
    except KeyError:
        print("city not found")

city not found
city not found
city not found

In [17]:
city_data1=pd.DataFrame({"City": name1,"lat": lat,"long": lng})
city_data1
newmergedata=pd.merge(newindexdf,city_data1, on="City")

newmergedata

,County,Unnamed: 0,City,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State_x,Rank,RankOf,RankStatewidePercentage,Zip Code,State_y,2016,2017,2018,lat,long
0,Abbeville,149,Abbeville,Abbeville 60,3,1,0,5,9,SC,6.0,82.0,92.68,29620,SC,31893,32937,34108,50.10,1.83
1,Aiken,150,Aiken,Aiken 01,10,12,0,21,43,SC,34.0,82.0,58.54,29803,SC,39387,40893,42511,33.58,-81.60
2,Alachua,199,Gainesville,Alachua,15,10,6,33,64,FL,40.0,67.0,40.30,32601,FL,40608,42455,44390,29.65,-82.32
3,Alamance,300,Burlington,Alamance-Burlington Schools,8,7,1,20,36,NC,162.0,242.0,33.06,27217,NC,37317,38141,39342,39.88,-74.64
4,Alcorn,127,Corinth,Corinth School District,1,1,0,1,3,MS,61.0,129.0,52.71,38834,MS,33076,34364,36003,37.94,22.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,GA,37483,38339,39472,40.08,-87.96
2115,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,NC,34008,35681,36576,40.08,-87.96
2116,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,NC,34008,35681,36576,40.08,-87.96
2117,Williamson,293,Franklin,Franklin SSD,0,3,0,5,8,TN,7.0,140.0,95.00,37064,TN,92654,91001,94872,39.97,-83.02
2118,Yalobusha,123,Coffeeville,Coffeeville School District,1,0,0,1,2,MS,93.0,129.0,27.91,38922,MS,34366,35020,36729,33.98,-89.68

In [18]:
location2 = newmergedata[["lat", "long"]]
Income = newmergedata["2018"]

fig1 = gmaps.figure()
Income_layer = gmaps.heatmap_layer(location2, weights= Income) 
                                   #dissipating=False, max_intensity=100000, point_radius=1)
#Add layer
fig1.add_layer(Income_layer)
# Display figure
fig1

Figure(layout=FigureLayout(height='420px'))

In [19]:
newzipfile = pd.read_csv("ziplatlong.csv")
newzipfile1 = pd.DataFrame(newzipfile)
newmergedata5=pd.merge(newindexdf, newzipfile1, on="Zip Code")
newmergedata5

,County,Unnamed: 0,City,District Name,Number of High Schools,Number of Middle Schools,Number of Alternative Schools,Number of Primary Schools,Number of Total Schools,State_x,Rank,RankOf,RankStatewidePercentage,Zip Code,State_y,2016,2017,2018,Latitude,Longitude
0,Abbeville,149,Abbeville,Abbeville 60,3,1,0,5,9,SC,6.0,82.0,92.68,29620,SC,31893,32937,34108,34.189812,-82.41245
1,Aiken,150,Aiken,Aiken 01,10,12,0,21,43,SC,34.0,82.0,58.54,29803,SC,39387,40893,42511,33.486049,-81.70946
2,Alachua,199,Gainesville,Alachua,15,10,6,33,64,FL,40.0,67.0,40.30,32601,FL,40608,42455,44390,29.653195,-82.32440
3,Alamance,300,Burlington,Alamance-Burlington Schools,8,7,1,20,36,NC,162.0,242.0,33.06,27217,NC,37317,38141,39342,36.132737,-79.41135
4,Alcorn,127,Corinth,Corinth School District,1,1,0,1,3,MS,61.0,129.0,52.71,38834,MS,33076,34364,36003,34.928325,-88.52856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,Washington,140,Greenville,Greenville Public Schools,2,2,0,8,12,MS,109.0,129.0,15.50,38701,LA,31647,32210,33480,33.380388,-91.05187
569,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,GA,37483,38339,39472,36.326001,-80.86182
570,Wilkes,325,State Road,Bridges Academy,0,0,1,0,1,NC,151.0,199.0,24.12,28676,NC,34008,35681,36576,36.326001,-80.86182
571,Williamson,293,Franklin,Franklin SSD,0,3,0,5,8,TN,7.0,140.0,95.00,37064,TN,92654,91001,94872,35.893823,-86.89919
572,Yalobusha,123,Coffeeville,Coffeeville School District,1,0,0,1,2,MS,93.0,129.0,27.91,38922,MS,34366,35020,36729,33.936248,-89.64228

In [20]:
#option2

location4 = newmergedata5[["Latitude", "Longitude"]]
Ranking = newmergedata5["RankStatewidePercentage"]

fig3 = gmaps.figure()
Rank_layer1= gmaps.heatmap_layer(location4, weights= Ranking)
#Add layer
fig3.add_layer(Rank_layer1)
# Display figure
fig3

Figure(layout=FigureLayout(height='420px'))

In [21]:
location3 = newmergedata5[["Latitude", "Longitude"]]
Income1 = newmergedata5["2018"]

fig2 = gmaps.figure()
Income_layer1 = gmaps.heatmap_layer(location3, weights= Income1) 
                                   #dissipating=False, max_intensity=100000, point_radius=1)
#Add layer
fig2.add_layer(Income_layer1)
# Display figure
fig2

Figure(layout=FigureLayout(height='420px'))